h2 {
    font-family: "Allerta Stencil", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px !important;
}

.selector {
    background-color: #743D3D;
    padding-top: 25px;
    padding-bottom: 25px; 
}


.variant-button {
    font-family: "Allerta Stencil", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    border: 0;
    color: white;
    background-color: #743D3D;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    padding-bottom: 10px; 
}

.browsebtn {
    border: 0;
    color: white;
    background-color: #743D3D;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    padding-bottom: 10px; 
}

.variant-button::after {
    content: "";
    position: absolute;
    left: 50%; 
    bottom: 0;
    width: 80%; 
    height: 3px; 
    background-color: transparent; 
    transform: translateX(-50%); 
    transition: background-color 0.3s ease-in-out;
}

.variant-button:hover::after,
.variant-button.selected::after { 
    background-color: white; 
}

  
